<div class="row justify-content-center">
    <div class="col-8">
        
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-estimate-heading" jhiTranslate="logValueApp.freight.home.createOrEditLabel">Create or edit a Estimate</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group row" [hidden]="!estimate.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="estimate.id" readonly />
                </div>

                <div class="form-group row">
                    <label class="form-control-label" jhiTranslate="logValueApp.freight.vehicleType" for="field_vehicleType">Vehicle Type</label>
                    
                    <p-selectButton id="field_vehicleType" name="vehicleType"  optionLabel="name"
                                    [options]="vehicletypes" [(ngModel)]="vehicletypesSelected" >>
                        <ng-template let-item>
                            <div style="padding: .3em 1em">
                                <span>{{item.name}}</span>
                            </div>
                            <div style="padding: .1em 1em; font-size: .8em;">
                                <span>max: {{item.maximumLoad}}</span>
                            </div>
                        </ng-template>
                    </p-selectButton>
                </div>

                <div class="form-group row">
                    <label class="form-control-label" jhiTranslate="logValueApp.freight.roadType" for="field_roadType">Road Type</label>
                    <p-selectButton id="field_roadType" name="roadType" [options]="roadtypes" 
                                    [(ngModel)]="roadtypesSelected" multiple="multiple">
                        <ng-template let-item>
                            <div style="padding: .5em 1em;">
                                <img style="vertical-align: middle; margin-right: .5em" *ngIf="item.id === 1"
                                     src="../../../content/images/road/1.png" height="50px"/>
                                <img style="vertical-align: middle; margin-right: .5em" *ngIf="item.id === 2"
                                     src="../../../content/images/road/2.png" height="50px"/>
                                <span>{{item.name}}</span>
                            </div>
                        </ng-template>
                    </p-selectButton>
                </div>

                <div class="form-group row" *ngIf="isPavedRoadChecked()" >
                    <label class="form-control-label" jhiTranslate="logValueApp.freight.pavedHighwayAmount" for="field_pavedHighwayAmount">Paved Highway Amount</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="pavedHighwayAmount" id="field_pavedHighwayAmount"
                               [(ngModel)]="estimate.pavedHighwayAmount" mask="0*" />
                    </div>
                </div>
                <div class="form-group row" *ngIf="isNonPavedRoadChecked()">
                    <label class="form-control-label" jhiTranslate="logValueApp.freight.nonPavedHighwayAmount" for="field_nonPavedHighwayAmount">Non Paved Highway Amount</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="nonPavedHighwayAmount" id="field_nonPavedHighwayAmount"
                            [(ngModel)]="estimate.nonPavedHighwayAmount" mask="0*"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="form-control-label" jhiTranslate="logValueApp.freight.loadAmount" for="field_loadAmount" >
                        Load Amount
                    </label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="loadAmount" id="field_loadAmount"
                                [(ngModel)]="estimate.loadAmount" mask="0*" />
                    </div>
                </div>

                <div class="form-group row" >
                    <label class="form-control-label" jhiTranslate="logValueApp.freight.containsToll" for="field_containsToll">Contains Toll</label>
                    <p-toggleButton name="containsToll" id="field_containsToll" [(ngModel)]="estimate.containsToll"></p-toggleButton>
                </div>

                <div class="form-group row" [hidden]="!estimate.containsToll">
                    <label class="form-control-label" jhiTranslate="logValueApp.freight.tollValue" for="field_tollValue" >Toll Value</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="tollValue" id="field_tollValue"
                            [(ngModel)]="estimate.tollValue" currencyMask/>
                    </div>
                </div>


            </div>

            <div class="alert alert-success" role="alert" [hidden]="!estimate.freightAmount">
                <span jhiTranslate="logValueApp.freight.messages.freightValue"
                    translateValues="{freightCost: '{{estimate.freightAmount}}'}"> 
                    
                    Your freight will only cost R$ {{estimate.freightAmount | currency:'BRL':true}}}
                </span>

            </div>
                              
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="calc-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'eye'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.calc">Calculate</span>
                </button>
            </div>
        </form>
    </div>
</div>
